body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    background-color: #F6F7FF;
    display: flex;
}

.logo {
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 34px 100px;
}

.logo__image {
    width: 23px;
    height: 23px;
}

.logo__name {
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1F1E25;
}

.menu {
    display: flex;
    gap: 45px;
    list-style: none;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 38px;
}

.menu__item {
    font-size: 16px;
    font-weight: 400;
    color: #707C87;
    text-decoration: none;

}
.menu__item:hover {
    color: #2C36F2;
}

.account {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 220px;
    padding-top: 6px;
}

.account__txt {
    font-size: 16px;
    font-weight: 400;
    color: #1F1E25;
    text-decoration: none;
}

.account__txt:hover {
    font-weight: 700;
}

.container {
    height: 400px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.container__info {
    margin-top: 115px;
    margin-left: 250px;
}

.container__heading {
    font-size: 54px;
    font-weight: 700;
    color: #F6F7FF;
    margin: 0;
}

.container__txt {
    font-size: 20px;
    font-weight: 500;
    color: #E0E1EA;
    margin-top: 5px; 
    margin-bottom: 49px;
}

.container__button {
    background-color: #F6F7FF;
    color: #707C87;
    width: 234px;
    height: 53px;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 125px;
}

.container__card {
    width: 341px;
    height: 216px;
    margin-top: 85px;
    margin-left: 251px;
}

.content {
    height: 554px;
    background-color: #FFFFFF;
    display: flex;
    column-gap: 62px;
}

.content__info {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    margin-top: 165px;
    margin-left: 250px;
    height: 242px;
}

.content__heading {
    font-size: 40px;
    font-weight: 700;
    color: #1F1E25;
    margin: 0;
}

.content__txt {
    font-size: 20px;
    font-weight: 400;
    color: #707C87;
    line-height: 28px;
    width: 379px;
    margin: 0;
}

.content__button {
    background-color: #2C36F2;
    color: #F6F7FF;
    width: 201px;
    height: 11px;
    font-size: 18px;
    font-weight: 500;
    padding: 25px 25px 24px;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__card {
    width: 436px;
    height: 314px;
    margin-top: 120px;
}

footer {
    height: 224px;
    background-color: #F6F7FF;
    margin: 0;
    position: relative;
}

.footer__info {
    width: 252px;
    height: 84px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-left: 98px;
}

.footer__info__logo {
    display: flex;
    column-gap: 11px;
    align-items: center;
    margin-top: 53px;
}

.footer__info__logo--txt {
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1F1E25;
}

.footer__info__txt {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #707C87;
    margin: 0;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    list-style: none;
    position: absolute;
    top: 51.1px;
    left: 390px;
    padding: 0;
    margin: 0;
    height: 104px;
}

.footer__menu__item {
    font-size: 16px;
    font-weight: 500;
    color: #707C87;
    text-decoration: none;
}

.footer__menu__item:hover {
    color: #2C36F2;
}

.footer__support {
    position: absolute;
    left: 630px;
    display: flex;
    flex-direction: column;
    margin-top: -45px ;
}

.footer__support__flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__support__img {
    width: 10px;
    height: 16px;
}

.footer__support__number {
    font-size: 16px;
    font-weight: 500;
    color: #1F1E25;
}

.footer__support__txt {
    padding-left: 30px;
    margin-top: -7px ;
    color: #707C87;
    font-size: 12px;
    font-weight: 400;
}

.footer__telephone {
    position: absolute;
    left: 911px;
    display: flex;
    flex-direction: column;
    margin-top: -45px ;
}

.footer__telephone__flex {
    display: flex;
    align-items: center;
    gap: 17px;
}

.footer__telephone__number {
    font-size: 16px;
    font-weight: 500;
    color: #1F1E25;
}

.footer__telephone__txt {
    padding-left: 33px;
    margin-top: -10px ; 
    color: #707C87;
    font-size: 12px;
    font-weight: 400;
    width: 150px;
}

.footer__social {
    display: flex;
    gap: 15px;
    position: absolute;
    left: 1200px;
    margin-top: -25px;
}
